/* Stil umum untuk body, mengatur font dan padding */
body {
    font-family: Poppins;
    background: #f4f4f4;
    margin: 0;
}
a:hover{
    color: #003e7f;
}
/* Header styles */
header {
    background: #007BFF;
    color: white;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    font-size: 16px;
    text-align: center;
}

header h1 {
    margin: 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 800;
    font-size: 24px;
    justify-content: center;
}
.logo img{
    width: 50px;
}

/* Navigation styles */
nav {
    background: #333;
    color: #fff;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    font-size: 16px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Section styles */
section {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #007BFF;
    font-weight: 800;
    margin : 3rem;
    padding: 80px;
    gap: 20px;
}
section img {
    width: 500px;
}
/* Footer styles */
footer {
    background: #007BFF;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    font-size: 16px;
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 25px;

}
footer p {
    margin: 0;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

footer li {

}

footer a {
    color: white;
    text-decoration: none;
}

/* Utility styles */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hidden {
    display: none;
}
